{
  "openapi": "3.0.0",
  "info": {
    "title": "Demian GitHub Push",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/{owner}/{repo}/contents/{path}": {
      "put": {
        "summary": "Create or update a file in a GitHub repository",
        "operationId": "pushFileToGitHub",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": { "type": "string" },
                  "content": { "type": "string" },
                  "branch": { "type": "string" }
                },
                "required": ["message", "content"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Success" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://github.com/login/oauth/authorize",
            "tokenUrl": "https://github.com/login/oauth/access_token",
            "scopes": {
              "repo": "Full access to repositories"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": ["repo"]
    }
  ]
}
